<div ng-if="user.userData.forceGame()" class="form">
	<div class="error">{{user.userData.getError()}}</div>

	<label class="col-md-4">Name:</label> <input ng-model="user.name" class="col-md-8" type="text" placeholder='Vinnilla' autofocus><br/>
	<label class="col-md-4">Password:</label> <input ng-model="user.password" class="col-md-8" type="password"><br/>
	<label class="col-md-4">Confirm Password:</label> <input ng-model="user.conpassword" class="col-md-8" type="password"><br/>
	<button ng-click="user.register()">Register</button>
</div>